Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore

@maikon-parreira
maikon-parreira
/
helpdesk
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
helpdesk/.gitignore
@maikon-parreira
maikon-parreira Added rabbitmq-helpdesk directory
Latest commit fbcf90b on Sep 8, 2022
 History
 1 contributor
84 lines (66 sloc)  1.05 KB

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

docker-compose.override.yml
.env.*
spring-shell.log
/classes/
reports/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

### Gradle ###
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

**/.DS_Store

rabbitmq-helpdesk
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
helpdesk/.gitignore at main · maikon-parreira/helpdesk